<head>
  <title>Dancr </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Dancr - Ballroom dancing visualized">
  <meta property="og:description" content="Learn ballroom dance steps visually."">
  <meta property="og:image" content="img/logo.png">
  <meta property="og:url" content="https://xkevinlu.github.io/dancr/">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85741607-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-85741607-3');
  </script>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <!-- Material Design icon font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,700i,800,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

  <!-- Uses a header that scrolls with the text, rather than staying
  locked at the top -->
  <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header" id="app">
    <header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600">
      <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{{dance}}</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="search">
            <label class="mdl-textfield__label" for="search">Enter your query...</label>
          </div>
        </div>
      </div>
    </header>
    <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
      <header class="demo-drawer-header">
        <img src="img/dance-avatar.jpg" class="demo-avatar">
        <div class="demo-avatar-dropdown">
          <span>Ajay Phatak</span>
          <div class="mdl-layout-spacer"></div>
          <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
            <i class="material-icons" role="presentation">more_vert</i>
            <span class="visuallyhidden">Accounts</span>
          </button>
          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
            <li class="mdl-menu__item">Edit Profile</li>
            <li class="mdl-menu__item">Logout</li>
          </ul>
        </div>
      </header>
      <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_drop_down</i>Slow Waltz</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_drop_down</i>Tango</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_drop_down</i>Viennese Waltz</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_drop_down</i>Slow Foxtrot</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">arrow_drop_down</i>Quickstep</a>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">supervised_user_circle</i>Find a Partner</a>
        <div class="mdl-layout-spacer"></div>
        <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span></a>
      </nav>
    </div>
    <main class="mdl-layout__content mdl-color--grey-100">
      <div class="mdl-grid demo-content"><!--content-->

        <div id="graphic-container">
                    <div class="d-flex-center">
                      <!-- <h2>{{figure_name}}</h2> -->
                      </div>
          <div class="controls d-flex-space-between text-right pt-1">
            <div class="w-100 ">
            <h3 class="text-left bold">{{figure_name}}</h3>
            </div>
            <div id="view-btn-group">
            <button class="mdl-button mdl-js-button mdl-button--raised" id="btn-lead">
  LEAD
</button>
<button class="mdl-button mdl-js-button mdl-button--raised" id="btn-follow">
  FOLLOW
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" id="btn-both">
  BOTH
</button>
</div>

<!-- <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="checkbox-1">
  <span class="mdl-checkbox__label">Show LOD</span>
  <input type="checkbox" id="checkbox-1" class="mdl-checkbox__input" checked>
</label> -->
          </div>
          <div id="diagram">
            <div class="LOD">
              <svg viewBox="0 0 190 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="LOD-Right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.15">
                      <path id="Line" d="M156,30.5 L107,30.5 L107,24.5 L156,24.5 L156,10.5 L190,27.5 L156,44.5 L156,30.5 Z" fill="#000000" fill-rule="nonzero"></path>
                      <text id="LOD" font-family="HelveticaNeue-Medium, Helvetica Neue" font-size="45" font-weight="400" fill="#000000">
                          <tspan x="0.24" y="44">LOD</tspan>
                      </text>
                  </g>
              </svg>
            </div>
            <div class="M" id="ML">
              <svg viewBox="0 0 70 186" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="ML-Export" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="ML-T" fill="#069FE6" fill-rule="nonzero">
                    <path d="M35.6263064,0.0344372048 C49.034781,-0.73455534 66.8329347,11.1920837 69.8150143,54.2919395 C71.1500572,73.5312624 64.9537167,88.5556356 61.0284003,101.004609 C59.4466646,106.010315 57.4948899,107.838486 53.3011138,106.83009 C41.8879479,104.06607 22.6168935,104.929373 10.3185361,107.845741 C6.90111644,108.658261 5.04366542,106.12639 4.48497897,103.405897 C-12.2393359,22.1175816 22.2250874,0.810684396 35.6263064,0.0344372048 Z" id="Path"></path>
                  </g>
                  <g id="ML-H" transform="translate(11.000000, 128.000000)" fill="#069FE6" fill-rule="nonzero">
                    <path d="M0,6.56572385 C0,6.56572385 0.125093888,14.4845192 1.47905126,26.8913712 C3.73809971,47.4240459 14.5403249,60.141439 31.3764905,57.701474 C51.3326448,54.8178791 55.7256478,40.5773564 53.4592409,20.0372879 C52.0905666,7.62304199 49.654915,0 49.654915,0 L0,6.56572385 Z" id="Path"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="M" id="MR">
              <svg viewBox="0 0 71 186" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="MR-export" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="MR-H" transform="translate(33.000000, 157.000000) scale(-1, 1) translate(-33.000000, -157.000000) translate(6.000000, 128.000000)" fill="#069FE6" fill-rule="nonzero">
                    <path d="M0,6.56572385 C0,6.56572385 0.125093888,14.4845192 1.47905126,26.8913712 C3.73809971,47.4240459 14.5403249,60.141439 31.3764905,57.701474 C51.3326448,54.8178791 55.7256478,40.5773564 53.4592409,20.0372879 C52.0905666,7.62304199 49.654915,0 49.654915,0 L0,6.56572385 Z" id="Path"></path>
                  </g>
                  <g id="MR-T" transform="translate(35.000000, 54.000000) scale(-1, 1) translate(-35.000000, -54.000000) " fill="#069FE6" fill-rule="nonzero">
                    <path d="M35.6263064,0.0344372048 C49.034781,-0.73455534 66.8329347,11.1920837 69.8150143,54.2919395 C71.1500572,73.5312624 64.9537167,88.5556356 61.0284003,101.004609 C59.4466646,106.010315 57.4948899,107.838486 53.3011138,106.83009 C41.8879479,104.06607 22.6168935,104.929373 10.3185361,107.845741 C6.90111644,108.658261 5.04366542,106.12639 4.48497897,103.405897 C-12.2393359,22.1175816 22.2250874,0.810684396 35.6263064,0.0344372048 Z" id="Path"></path>
                  </g>
                </g>
              </svg>
            </div>
            <div class="L" id="LL">
              <svg viewBox="0 0 57 176" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="LL-export" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="LL-T" transform="translate(-0.000000, 7.000000)" fill="#FF51A6">
                          <path d="M30.1148379,93 C46.7468036,93 54.9152926,81.325092 54.9152926,65.5361364 C54.9152926,60.732685 57.5031877,0 34.0708507,0 C10.6385138,0 4.54747351e-13,61.3676253 4.54747351e-13,64.4115669 C4.54747351e-13,80.2005225 13.4828722,93 30.1148379,93 Z" id="Oval"></path>
                      </g>
                      <g id="LL-H" transform="translate(11.629542, 135.000000)" fill="#FF51A6">
                          <path d="M0,0 L32,0 L32,16.3636364 C32,32.1212121 26.6666667,40 16,40 C5.33333333,40 0,32.1212121 0,16.3636364 L0,0 Z" id="Rectangle"></path>
                      </g>
                  </g>
              </svg>
            </div>

            <div class="L" id="LR">
              <svg viewBox="0 0 57 175" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="LR-export" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                      <g id="LR-T" transform="translate(28.000000, 53.500000) scale(-1, 1) translate(-28.000000, -53.500000) translate(0.000000, 7.000000)" fill="#FF51A6">
                          <path d="M30.1148379,93 C46.7468036,93 54.9152926,81.325092 54.9152926,65.5361364 C54.9152926,60.732685 57.5031877,0 34.0708507,0 C10.6385138,0 4.54747351e-13,61.3676253 4.54747351e-13,64.4115669 C4.54747351e-13,80.2005225 13.4828722,93 30.1148379,93 Z" id="Oval"></path>
                      </g>
                      <g id="LR-H" transform="translate(11.629542, 135.000000)" fill="#FF51A6">
                          <path d="M0,0 L32,0 L32,16.3636364 C32,32.1212121 26.6666667,40 16,40 C5.33333333,40 0,32.1212121 0,16.3636364 L0,0 Z" id="Rectangle"></path>
                      </g>
                  </g>
              </svg>
            </div>

          </div>

          <div class="controls">
            <span class="icon" id="replay"><i class="material-icons">replay</i></span>
            <span id="instruction"> {{instruction}} </span>
            <div>
            <span class="icon" id="prev"><i class="fas fa-backward"></i></span>
            <span class="icon" id="next"><i class="fas fa-forward"></i></span>
            </div>
          </div>

        </div> <!--graphic container-->

<div class="figure-list">
  <div>
    <h5>Newcomer</h5>
        <ul class="demo-list-item mdl-list" id="waltz-newcomer">
          <li class="mdl-list__item" v-for="item in waltz_newcomer_figures">
            <span class="mdl-list__item-primary-content">
              {{ item }}
            </span>
          </li>
        </ul>
        </div>

        <div>
          <h5>Bronze</h5>
        <ul class="demo-list-item mdl-list" id="waltz-newcomer">
          <li class="mdl-list__item" v-for="item in waltz_bronze_figures">
            <span class="mdl-list__item-primary-content">
              {{ item }}
            </span>
          </li>
        </ul>
        </div>

        <div>
          <h5>Silver</h5>
        <ul class="demo-list-item mdl-list" id="waltz-newcomer">
          <li class="mdl-list__item" v-for="item in waltz_silver_figures">
            <span class="mdl-list__item-primary-content">
              {{ item }}
            </span>
          </li>
        </ul>
        </div>

        <div>
          <h5>Gold</h5>
        <ul class="demo-list-item mdl-list" id="waltz-newcomer">
          <li class="mdl-list__item" v-for="item in waltz_gold_figures">
            <span class="mdl-list__item-primary-content">
              {{ item }}
            </span>
          </li>
        </ul>
        </div>

      </div>
    </main>
  </div>




  <script src="https://use.fontawesome.com/5c1badc975.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="main.js"></script>
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>


</body>
