<!doctype html>
<html>
<head>
  <title>Dancr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="Dancr - Ballroom dancing visualized">
  <meta property="og:description" content="Learn ballroom dance steps visually.">
  <meta property="og:image" content="img/logo.png">
  <meta property="og:url" content="https://xkevinlu.github.io/dancr/">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-85741607-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-85741607-3');
  </script>
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <!-- Material Design icon font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,700i,800,900" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs" id="app">
    <header class="mdl-layout__header">
      <div class="mdl-layout__header-row">
        <!-- Title -->
        <span class="mdl-layout-title">{{ dance }} </span>
      </div>
      <!-- Tabs -->
      <!-- <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
        <a href="#fixed-tab-1" class="mdl-layout__tab is-active">Figures</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab">Technique</a>
      </div> -->
    </header>
      <div class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
        <header class="demo-drawer-header">
          <img src="img/dance-avatar.jpg" class="demo-avatar">
          <div class="demo-avatar-dropdown">
            <span>Dance Academy</span>
            <div class="mdl-layout-spacer"></div>
            <!-- <button id="accbtn" class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons" role="presentation">more_vert</i>
              <span class="visuallyhidden">Accounts</span>
            </button>
            <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="accbtn">
              <li class="mdl-menu__item">Edit Profile</li>
              <li class="mdl-menu__item">Logout</li>
            </ul> -->
          </div>
        </header>
        <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
          <a class="mdl-navigation__link" v-on:click="change_dance('Slow Waltz')">Slow Waltz</a>
          <a class="mdl-navigation__link" v-on:click="change_dance('Tango')">Tango</a>
          <a class="mdl-navigation__link" v-on:click="change_dance('Viennese Waltz')">Viennese</a>
          <a class="mdl-navigation__link" v-on:click="change_dance('Slow Foxtrot')">Foxtrot</a>
          <a class="mdl-navigation__link" v-on:click="change_dance('Quickstep')">Quickstep</a>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">supervised_user_circle</i>Donate</a>
          <div class="mdl-layout-spacer"></div>
          <a class="mdl-navigation__link" href=""><i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">help_outline</i><span class="visuallyhidden">Help</span>About</a>
        </nav>
      </div>
    <main class="mdl-layout__content mdl-color--grey-100" id="main_content">
      <div class="mdl-grid demo-content"><!--content-->

        <div id="graphic-container">

          <div class="controls d-flex-space-between">
            <div class="w-100 ">
              <h4 class="text-center bold">{{current_figure.name}}</h4>
            </div>
        </div>
        <div id="render_window">

          <div id="view-btn-group">
            <button class="no-padding mdl-button mdl-js-button" v-bind:class="{ 'male-color': !follow_active }" id="btn-lead" v-on:click="lead()">
              <i class="fas fa-male gender-icons"></i>
            </button>
            <button class="no-padding mdl-button mdl-js-button" v-bind:class="{ 'female-color': !lead_active }" id="btn-follow" v-on:click="follow()">
              <i class="fas fa-female gender-icons"></i>
            </button>
            <button class="no-padding mdl-button mdl-js-button" v-bind:class="{ 'mdl-button--colored': lead_active && follow_active }" id="btn-both" v-on:click="both()">
              <i class="material-icons">
              wc
              </i>
            </button>
          </div>

          <!-- <div class="LOD">
            <svg viewBox="0 0 190 54" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="LOD-Right" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" opacity="0.15">
                <path id="Line" d="M156,30.5 L107,30.5 L107,24.5 L156,24.5 L156,10.5 L190,27.5 L156,44.5 L156,30.5 Z" fill="#000000" fill-rule="nonzero"></path>
                <text id="LOD" font-family="HelveticaNeue-Medium, Helvetica Neue" font-size="45" font-weight="400" fill="#000000">
                  <tspan x="0.24" y="44">LOD</tspan>
                </text>
              </g>
            </svg>
          </div> -->
        <div id="scroll">
        <div id="diagram">
          <div class="M" id="ML" v-show="lead_active">
            <svg viewBox="0 0 70 185" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="ML-Export" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="ML-T" fill="#069FE6" fill-rule="nonzero">
                      <path d="M35.6263064,0.0344372048 C49.034781,-0.73455534 66.8329347,11.1920837 69.8150143,54.2919395 C71.1500572,73.5312624 64.9537167,88.5556356 61.0284003,101.004609 C59.4466646,106.010315 57.4948899,107.838486 53.3011138,106.83009 C41.8879479,104.06607 22.6168935,104.929373 10.3185361,107.845741 C6.90111644,108.658261 5.04366542,106.12639 4.48497897,103.405897 C-12.2393359,22.1175816 22.2250874,0.810684396 35.6263064,0.0344372048 Z" id="Path"></path>
                  </g>
                  <g id="ML-H" transform="translate(11.000000, 127.000000)" fill="#069FE6" fill-rule="nonzero">
                      <path d="M0,6.56572385 C0,6.56572385 0.125093888,14.4845192 1.47905126,26.8913712 C3.73809971,47.4240459 14.5403249,60.141439 31.3764905,57.701474 C51.3326448,54.8178791 55.7256478,40.5773564 53.4592409,20.0372879 C52.0905666,7.62304199 49.654915,0 49.654915,0 L0,6.56572385 Z" id="Path"></path>
                  </g>
              </g>
            </svg>
          </div>
          <div class="M" id="MR" v-show="lead_active">
            <svg viewBox="0 0 70 185" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="MR-Export" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="MR-T" transform="translate(35.000000, 54.000000) scale(-1, 1) translate(-35.000000, -54.000000) " fill="#069FE6" fill-rule="nonzero">
                    <path d="M35.6263064,0.0344372048 C49.034781,-0.73455534 66.8329347,11.1920837 69.8150143,54.2919395 C71.1500572,73.5312624 64.9537167,88.5556356 61.0284003,101.004609 C59.4466646,106.010315 57.4948899,107.838486 53.3011138,106.83009 C41.8879479,104.06607 22.6168935,104.929373 10.3185361,107.845741 C6.90111644,108.658261 5.04366542,106.12639 4.48497897,103.405897 C-12.2393359,22.1175816 22.2250874,0.810684396 35.6263064,0.0344372048 Z" id="Path"></path>
                </g>
                  <g id="MR-H" transform="translate(32.000000, 156.000000) scale(-1, 1) translate(-32.000000, -156.000000) translate(5.000000, 127.000000)" fill="#069FE6" fill-rule="nonzero">
                      <path d="M0,6.56572385 C0,6.56572385 0.125093888,14.4845192 1.47905126,26.8913712 C3.73809971,47.4240459 14.5403249,60.141439 31.3764905,57.701474 C51.3326448,54.8178791 55.7256478,40.5773564 53.4592409,20.0372879 C52.0905666,7.62304199 49.654915,0 49.654915,0 L0,6.56572385 Z" id="Path"></path>
                  </g>
              </g>
            </svg>
          </div>
          <div class="L" id="LL" v-show="follow_active">
            <svg viewBox="0 0 70 185" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="LL-Export" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="LL-T" transform="translate(5.000000, 0.000000)" fill="#FF51A6">
                      <path d="M32.8036627,103 C50.9206254,103 59.8184438,90.0697256 59.8184438,72.5830328 C59.8184438,67.2630812 62.6374008,0 37.1128909,0 C11.5883811,0 4.54747351e-13,67.9662947 4.54747351e-13,71.3375418 C4.54747351e-13,88.8242346 14.6867001,103 32.8036627,103 Z" id="Oval"></path>
                  </g>
                  <g id="LL-H" transform="translate(17.000000, 131.000000)" fill="#FF51A6">
                      <path d="M0,0 L34,0 L34,18 C34,35.3333333 28.3333333,44 17,44 C5.66666667,44 0,35.3333333 0,18 L0,0 Z" id="Rectangle"></path>
                  </g>
              </g>
            </svg>
          </div>

          <div class="L" id="LR" v-show="follow_active">
            <svg viewBox="0 0 70 185" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <g id="LR-Export" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="LR-T" transform="translate(34.500000, 51.500000) scale(-1, 1) translate(-34.500000, -51.500000) translate(3.000000, 0.000000)" fill="#FF51A6">
                      <path d="M33.8791926,103 C52.5901541,103 61.7797042,90.0697256 61.7797042,72.5830328 C61.7797042,67.2630812 64.6910861,0 38.329707,0 C11.968328,0 4.54747351e-13,67.9662947 4.54747351e-13,71.3375418 C4.54747351e-13,88.8242346 15.1682312,103 33.8791926,103 Z" id="Oval"></path>
                  </g>
                  <g id="LR-H" transform="translate(17.000000, 131.000000)" fill="#FF51A6">
                      <path d="M0,0 L34,0 L34,18 C34,35.3333333 28.3333333,44 17,44 C5.66666667,44 0,35.3333333 0,18 L0,0 Z" id="Rectangle"></path>
                  </g>
              </g>
            </svg>
          </div>
        </div> <!-- scroll -->

        </div> <!-- render window -->
          <div class="instruction-container">
          <span class="instruction" v-show="!follow_active"> {{instruction_lead}} </span>
          <span class="instruction" v-show="!lead_active"> {{instruction_follow}} </span>
          <span class="instruction" v-show="lead_active && follow_active"> {{instruction_both}} </span>
          </div>
        <div class="next-prev">
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="replay" v-on:click="replay"><i class="material-icons">replay</i></button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="replay" v-on:click="play"><i class="material-icons">play_arrow</i></button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="prev" v-on:click="prev" :disabled="step==0"><i class="material-icons">fast_rewind</i></button>
          <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="next" v-on:click="next" :disabled="step==step_total-1"><i class="material-icons">fast_forward</i></button>
        </div>
      </div>

      </div> <!--graphic container-->

<div id="pf-figures">
      <div >
      <h5 class="list-head">Previous:</h5>
      <ul class="demo-list-item mdl-list" id="newcomer">
        <li class="mdl-list__item" v-for="figure in preceding_figures" v-on:click="change_figure(figure)">
          <span class="mdl-list__item-primary-content">
            {{ figure.name }}
          </span>
        </li>
      </ul>
      </div>
      <div >
      <h5 class="list-head">Next:</h5>
      <ul class="demo-list-item mdl-list" id="newcomer">
        <li class="mdl-list__item" v-for="figure in following_figures" v-on:click="change_figure(figure)">
          <span class="mdl-list__item-primary-content">
            {{ figure.name }}
          </span>
        </li>
      </ul>
      </div>
      </div>

      <div class="figure-list">

          <div class="col-sm-12 col-3">
          <h5 class="list-head">Newcomer</h5>
          <ul class="demo-list-item mdl-list" id="newcomer">
            <li class="mdl-list__item" v-for="figure in newcomer_figures" v-on:click="change_figure(figure)">
              <span class="mdl-list__item-primary-content">
                {{ figure.name }}
              </span>
            </li>
          </ul>
          </div>

        <div class="col-sm-12 col-3">
          <h5 class="list-head">Bronze</h5>
          <ul class="demo-list-item mdl-list" id="bronze">
            <li class="mdl-list__item" v-for="figure in bronze_figures" v-on:click="change_figure(figure)">
              <span class="mdl-list__item-primary-content">
                {{ figure.name }}
              </span>
            </li>
          </ul>
        </div>

        <div class="col-sm-12 col-3">
          <h5 class="list-head">Silver</h5>
          <ul class="demo-list-item mdl-list" id="silver">
            <li class="mdl-list__item" v-for="figure in silver_figures" v-on:click="change_figure(figure)">
              <span class="mdl-list__item-primary-content">
                {{ figure.name }}
              </span>
            </li>
          </ul>
        </div>

        <div class="col-sm-12 col-3">
          <h5 class="list-head">Gold</h5>
          <ul class="demo-list-item mdl-list" id="gold">
            <li class="mdl-list__item" v-for="figure in gold_figures" v-on:click="change_figure(figure)">
              <span class="mdl-list__item-primary-content">
                {{ figure.name }}
              </span>
            </li>
          </ul>
        </div>


      </div>
    </div>
    </main>
  </div>




  <script src="https://use.fontawesome.com/5c1badc975.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
  <script src="vue.js"></script>
  <script src="figuredata.js"></script>
  <script src="waltz.js"></script>
  <script src="tango.js"></script>
  <script src="vwaltz.js"></script>
  <script src="foxtrot.js"></script>
  <script src="quickstep.js"></script>
  <script src="main.js"></script>
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>


</body>
</html>
