.demo-layout-waterfall .mdl-layout__header-row .mdl-navigation__link:last-of-type  {
   padding-right: 0;
 }

html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  font-size:1em;
}

.male-color {
  color: #069FE6;
}
.female-color {
  color: #FF51A6;
}

.both-color {
  color: #8378C6;
}

.gender-icons {
  font-size:22px;
  padding-top: 8px;
}
.demo-avatar {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.mdl-layout__drawer .avatar {
  margin-bottom: 16px;
}
.demo-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.demo-drawer .mdl-menu__container {
  z-index: -1;
}
.demo-drawer .demo-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.demo-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.demo-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}
.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.demo-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.demo-layout .demo-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 16px;
}

.demo-content {
  max-width: 1080px;
}

.active {
  background-color: red;
}
.border {
  border:1px solid black;
}
.p-3 {
  padding:3em;
}
.pt-1 {
  padding-top:1em;
}

.pl-1 {
  padding-left:1em;
}

.bold {
  font-weight:700;
}
.text-left {
  text-align:left;
}
.text-center {
  text-align:center;
}
.text-right {
  text-align:right;
}
.w-50 {
  width:100%;
}
.w-100 {
  width:100%;
}
.d-flex-center {
  margin:auto;
  display:flex;
  justify-content:center;
  align-items:center;
}

.d-flex-space-between {
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.transition1s {
  transition: all 1s;
}

#graphic-container {
  width:100%;
  padding:0em 0em;
  display:block;
}

#render_window {
  background-color: #FFFFFF;
  border:1px solid grey;
  border-radius:8px;
  width:100%;
  max-width:400px;
  position:relative;
  margin:auto;
}

#scroll {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width:100%;
  height:100%;
}

#diagram {
  width:100%;
  max-width:360px;
  height:320px;
  margin:auto;
  position:relative;
  flex: 0 0 auto;
  /* background-color: #FFFFFF; */
  /* border:1px solid #EBEBEB;; */
  transition: transform 0.2s;
}
@media screen and (min-width: 640px) {
  #graphic-container {
    padding:0em 2em;
  }
}

.instruction-container {
    text-align:center;
    width:100%;
    padding-bottom: 0.5em;
}

.instruction {
  font-size:1em;
  font-weight:300;
  width:100%;
  padding:1em 0em;
}

/* #timing {
  font-weight:700;
} */

#top-controls {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  /* text-align:center; */
  margin-top:0.5em;
}

#camera-controls {
  margin-top:8px;
  padding:4px 0px;
  background-color:#F8F8F8;
}

.gearTransition {
  transition:transform 0.5s;
}
.gearTurn {
  transform:rotate(45deg);
}

.next-prev {
  width:100%;
  text-align:center;
  padding-top:0.5em;
  padding-bottom:0.5em;
}

.controls {
  width:100%;
  height:60px;
  margin:auto;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-size:1.4em;
  font-weight:300;
}

#LOD {
  display:flex;
  align-items:center;
  justify-content:center;
  /* position:absolute;
  bottom:88px;
  right:16px; */
  opacity:0.4;
  padding-left:16px;
  padding-right:0px;
  margin-right:-4px;
}

#LOD i {
  font-size:2em;
}

#LOD p {
  height:8px;
}

.M {
  width:15px;
  transition: left 2s, top 2s, opacity 2s, transform 2s;
  position:absolute;
}

.L {
  width:15px;
  transition: left 2s, top 2s, opacity 2s, transform 2s;
  position:absolute;
}

#ML {
  left:0px;
  top:0px;
  opacity:0.3;
}

#MR {
  left:30px;
  top:0px;
}

#LL {
  left:60px;
  top:0px;
}

#LR {
  left:90px;
  top:0px;
  opacity:0.3;
}

.mFootworkOn {
  fill: #003C78;
}

.lFootworkOn {
  fill: #E10071;
}

#pf-figures {
  display:flex;
  align-items:flex-start;
  justify-content:center;
  margin:auto;
}
.figure-list {
  width:100%;
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  margin: 3em 2em 0em 2em;
}

.col-sm-12 {
  width:100%;
}
@media screen and (min-width: 640px) {
  .col-3 {
    width:25%;
  }`
}

.list-head {
  padding-left:16px;
  text-transform: uppercase;
  font-size:0.8em;

}

.mdl-list__item span{
  cursor:pointer;
}

.mdl-list__item span:hover{
  color:#E10071;
}
